{% extends 'base.html' %}
{% block content %}

<h3> IMAGE FUN LABEL TIME </h3>

{% load static %}
<img src="{{ image.filename.url }}" alt="{{ image.filename }} load failed" width="256px" height="256px"/>

<form action="{% url 'labeller:label' image.id %}" method="post">
    {% csrf_token %}
    {% for choice in choices %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.alt_text }}</label><br />
    {% endfor %}

    <br />
    <input type="submit" value="SUBMIT FORM" />
</form>

{% endblock %}
